.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: flex-end;
}

.filters {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: calc(var(--offset-base-size) * 2);
}
